html{
	font-size: 50px;
}

#mobileheader{
	flex:1;
	background:#f6f6f6;
}

#mobileheader header{
	border-bottom: 1px solid #2db7f5;
	padding-left: 5px;
}

#mobileheader header img{
	height: 50px;
}

#mobileheader header span{
	font-size: 35px;
	vertical-align: top;
	padding-left: 5px;
	color: #2db7f5;
}

#mobileheader i{
    font-size: 0.5rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    color: #2db7f5;
}

/*-------------*/
#mobileheader ul li{
  font-size: 30px;
}

#mobileheader .slick-list img{
  height: 220px;
  width:100%;
}

#mobileDetailsContainer .title,.article-title .title {
    font-size: 0.44rem !important;
    line-height: 1.4em
}

#mobileDetailsContainer .article-src-time {
    font-size: 0.3rem !important;
}

#mobileDetailsContainer .article-content .txt {
    font-size: 0.36rem;
}
#mobileDetailsContainer .ant-row{
  margin-top: 20px;
}

#mobileDetailsContainer .ant-row{
  margin: 0;
}
#mainContainer .ant-tabs-bar{
  margin: 0;
}
.carousel .ant-carousel .slick-slider{
  padding-bottom: 20px;
}
#mainContainer .m_article_title span{
  color: #000000;
}
section{background:#f6f6f6;width:6.9rem;}
.m_article{font-size:14px;padding:0.1rem 0;border-bottom:1px solid #e5e5e5;margin-bottom: 0.1rem}
.m_article .m_article_img{float:left;width:27%;height:1.4rem;overflow:hidden;position:relative;margin-right:.2rem}
.m_article .m_article_img .m_article_mark{color:#fff;background:#5da3e9;font-size:.28rem;text-align:center;padding:.04rem;position:absolute;display:inline-block;left:0;top:0;height:.4rem;line-height:.4rem;opacity:.9}
.m_article .m_article_img img{width:100%;display:block;min-height:1.4rem}
.m_article .m_article_desc .m_article_channel{display:inline-block;color:rgba(255,51,51,0.9);font-size:12px;padding:2px;line-height:12px;margin-right:.1rem;background:url(http://img2.cache.netease.com/f2e/wap/common/images/border_red.png) no-repeat;background-size:100% 100%}
.m_article .m_article_desc .m_article_time{font-size:.24rem;color:#888;display:inline-block}
.m_article .m_article_desc .m_article_desc_l{float:left}
